<aside class="col-md-3">
    <section class="my-aside-widget">
        <H4 class="my-aside-widget-title">Hello!</H4>
        <img src="/images/trashPandaWork.png" class="img-fluid" alt="a raccoon at a computer desk in business attire">
        <a class="nav-link" href="/about">About Me</a>
    </section>
    <section class="my-aside-widget">
        <h4 class="my-aside-widget-title">Social Media</h4>
        <ul>
            <li>
                <a href="https://github.com/TelefunkenU87">GitHub</a>
            </li>
            <li>
                <a href="https://mastodon.technology/@TelefunkenU87">Mastodon</a>
            </li>
        </ul>
    </section>
</aside>