<% include partials/head %>

<div class="container">
    <div class="row">
        <main class="col-md-9">
            <section>
                <h1>About Me</h1>
            </section>
            <section>
                <br><br>
                <p>
                    I am currently a student studying web development. I work as a QA tester for enterprise
                    software.
                    <br><br>
                    I’m interested in a whole host of things – film, music, politics, web development, table top
                    role play games, and travel – so my work and online musings tend to reflect that.
                    <br><br>
                    Please check out <a href="/blog">My Blog</a> and <a href="/work">My Work</a> to find out
                    more.

                </p>
            </section>
        </main>

        <% include partials/aside %>
    </div>
</div>

<% include partials/foot %>