<% include partials/head %>

<div class="container">
    <div class="row">
        <main class="col-md-9">
            <section>
                <h1>Make Contact</h1>
            </section>
            <section>

            </section>
        </main>

        <% include partials/aside %>
    </div>
</div>

<% include partials/foot %>