<% include partials/head %>

<div class="container">
  <div class="row">
    <main class="col-md-9">
      <section class="container">
        <h1 class="col-md-9">Welcome to my world. . .</h1>
        <div class="row justify-content-center">
          <img src="/images/Tanuki.JPG" class="img-fluid col-md-9" alt="A statue of Tanuki standing outside a shop">
        </div>
        <div class="row justify-content-end">
          <h3 class="col-md-9 text-right">. . .or at least my website</h3>
        </div>
      </section>
    </main>

    <% include partials/aside %>
  </div>
</div>

<% include partials/foot %>