<% include partials/head %>

<div class="container">
    <div class="row">
        <main class="col-md-9">

            <section>
                <h1><%= post.title %></h1>
            </section>
            <section>
                <h3><%= post.date %></h3>
                <%- post.postContent %>
            </section>
        </main>

        <% include partials/aside %>
    </div>
</div>

<% include partials/foot %>