<% include partials/head %>

<div class="container">
        <div class="row">
            <main class="col-md-9">
                <section>
                    <h1>My Work</h1>
                    <h3>Some of my most recent projects</h3>
                </section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <section class="card">
                                <img src="/images/projectDayScreenCap.png" class="card-image-top img-fluid"
                                    alt="Screen Capture of my web development project titled 'Project Day'">
                                <div class="card-body">
                                    <h5 class="card-title">My Hometown: A Travel Guide</h5>
                                    <p class="card-text">An assignment where I create a website for my hometown's
                                        Chamber of
                                        Commerce to showcase what my hometown has to offer</p>
                                    <a href="https://telefunkenu87.github.io/Module-15-Project-Day/"
                                        class="btn btn-primary">View
                                        Deployment</a>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="card">
                                <img src="/images/HTML5SectionsScreenCap.png" class="card-image-top img-fluid"
                                    alt="Screen Capture of my web development project titled 'HTML5 Sections'">
                                <div class="card-body">
                                    <h5 class="card-title">HTML 5 semantic tags and responsive CSS</h5>
                                    <p class="card-text">I use my knowledge of HTML5 semantic tags and mobile first
                                        responsive
                                        design to create a character sheet manager for players in a TTRPG that I am
                                        running
                                    </p>
                                    <a href="https://telefunkenu87.github.io/Front-End-Module-1-HTML5-Sections/"
                                        class="btn btn-primary">View
                                        Deployment</a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </main>

            <% include partials/aside %>
        </div>
    </div>

    <% include partials/foot %>